/*
CSS - Каскадные таблицы стилей - дает возможность описать браузеру внешний вид веб-страниц
Каскадность — это приоритет одних правил/стилей над другими.

. - указывает класс (class)        Одинаковый стиль оформления планируется применять к нескольким элементам
# - указывает идентификатор (id)   Элемент встречается на странице лишь один раз

padding - внутренний отступ       (до границы)
margin - внешний отступ (поле)    (после границы)

Элементы <div> позволяют создать логическое выделение(группировка) содержимого блочного уровня
Элементы <span> дают возможность логически выделить(группировка) строчное содержимое

Наследование
div h1 - наследует все элементы (потомки) <h1> блока <div>
div > h1 - наследует только те (дочерний элемент) <h1>,которые являются непосредственными детьми элемента <div>

Если браузер располагает два строчных элемента один ЗА другим... - и у этих элементов есть поля, то браузер сложит размер полей
Если браузер располагает два блочных элемента один ПОД другим, он превращает их поля в одно. Высота полученного поля равняется высоте большего из двух полей.

Строчное содержимое, вложенное в блочный элемент, всегда обтекает плавающий элемент (float), принимая во внимание его границы, 
в то время как блочные элементы заливаются на страницу в обычном режиме. 
Исключение составляет тот случай, когда вы задаете свойство clear для блочного элемента, 
в результате чего он смещается вниз до тех пор, пока справа, слева или с обеих сторон не будет никаких плавающих элементов.
*/
body {
	color: #000; /* Цвет текста */
	background: linear-gradient(90deg, rgba(191,191,191,1) 0%, rgba(215,215,215,1) 50%, rgba(191,191,191,1) 100%);
	font: large Tahoma, sans-serif; /*Размер шрифта и Семейство шрифтов */
}

#theme h1{
	
	text-align: center; /* Горизонтальное выравнивание текста в пределах элемента. Применяется: ко всем элементам */
}

div.CSSGridTop {
	display: grid; /* CSS сетка */
	grid-template-columns: 1fr 0.7fr 1fr; /* Количество и размер колонок CSS сетки */
}

#topic {
	/* Работа с конкретным элементом сетки */
	justify-self: center; /* Выравнивание по горизонтали */
	align-self: center; /* Выравнивание по вертикали */
}

#abbreviations {
	grid-row-start: 1; /* С какой строки(row) начинается элемент */
	padding-top: 2%;
	padding-left: 2%;
	border-top: solid #eda024;
	border-left: solid #eda024;
	border-width: medium; /* Толщина границы */
	width: fit-content; /* Автозаполнение по ширине блока, учитывая размер контента*/
	height: fit-content;
}
 
#abbreviations h4{
	margin-top: 0;
}

.hideShow {
	display: flex;
	margin-bottom: 15px;
}

.hideShowText {
	align-self: center;
	margin-left: 5px;
}

/* Настройка иконки триггера*/
.hideShow img {
	height: 40px;
	cursor: pointer;
	transition: transform 0.5s; /* Анимация трансформации*/
}
.hideShow img.clicked {
	transform: rotate(45deg);/* Трансформация (вращение)*/
}

/*заменена на .hideShow img.clicked
#hideShow1.clicked, #hideShow2.clicked {
	transform: rotate(45deg); 
}
*/
/* Настройка скрытого текста*/
.hide {
	display: none;
	visibility: collapse;
	animation: fadeInOut 0.5s ease-in;
}

.hide.clicked{
	display: inline;
	visibility: visible;
}


@keyframes fadeInOut { 
    0% { 
        opacity: 0;
    }
	
    100% { 
        opacity: 1;
    } 
}

#new, #changes, #transfer, #crime {
	margin-bottom: 50px;
}

#new, #crime, #cancel {
	margin-top: 2%;
	text-align: center;
}

.changes p {
	text-align: left;
}

.transfer div {
	text-align: justify;
	margin-bottom: 1%;
}

.transfer div:nth-child(even) {
	margin-right: 20%;
}

.transfer div:nth-child(odd) {
	margin-left: 20%;
}


/*
section {
	text-align: center;
}
*/


div.FlexItem {
	display: flex;
	justify-content: space-around; /* Равномерно распределяет все элементы по ширине flex-блока. Все элементы имеют полноразмерное пространство с обоих концов */
	text-align: center;
	vertical-align:top;
}

article > div {
	max-width: 700px;
	margin: auto;
	
}

.content {
	display: none;
}

.content.show {
	display: block;
}
img {
	height: 150px;
}



button {
	cursor: pointer;
	width: 230px;
	height: 40px;
	font-weight: bold;
	background-color: #ff9b7a;
	border: 3px solid rgba(0, 0, 0, 0); /* Сокращенная запись, порядок параметров может быть любым */
	border-radius: 20px; /* Закругление углов границы */	
}
/*
.button::before {
	border-top: 2px solid;
	border-right: 2px solid;
	animation: border-top 2s infinite alternate;
	
}

@keyframes border-top {
	0% {width: 0px; height:0px;}
	50% {width: 230px; height:0px;}
	100% {width: 230px; height:40px;}
}
*/


button:hover, button.active {
	transition: 0.75s ease;
	background-color: #F4581E;
}

button.active {
	border-color: rgba(0, 0, 0, 1);
}

/*
max-width и min-width => Размер экрана Браузера

max-device-width и min-device-width => Фактический размер экрана Устройства 

*/

/* Ширина экрана больше 1400px (ширина от 1400px) */
@media screen and (min-width: 1400px) {
	/* Фиксированный размер блока */
	.FlexItem article {
		width: 700px;
	}
}

/* Ширина экрана меньше 1399px */
@media screen and (max-width: 1399px) {
	/* Смена направления блоков на горизонтальное (колонка) */
	div.FlexItem {
		flex-direction: column;
	}
}

@media (max-width: 667px), only screen and (max-device-width: 667px) {
	div.CSSGridTop{
		grid-template-columns: 1fr;
	}
	
	#topic {
		grid-row-start: -2;
	}
}